body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo {
  height: 50px;
  width: 155px;
  pointer-events: none;
  background-image: url('./logo.png');
  background-size: cover;
  background-position: center;
}
.main-background{
  background-color: var(--mantine-color-linen-0);
}
.secondary-background{
  background-color: var(--mantine-color-linen-1);
}
.cards{
  background-color: #FCDAD9;
}

input[type="text"]{
  background-color: var(--mantine-color-linen-0);
  border-color: var(--mantine-color-jagged-ice-7);
}
input[type="search"]{
  background-color: var(--mantine-color-linen-0);
  border-color: var(--mantine-color-jagged-ice-7);
}

.whatsapp-btn{
  background-color: #25D366;
}